# Prediksi Penerimaan Beasiswa - Naive Byes

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('beasiswa.csv')

In [4]:
df.head()

,No,Nama Lengkap,Prodi,Jenis Kelamin,Jarak Tempat Tinggal kekampus (Km),Asal Sekolah,Tahun Lulus,SKS,Ikut Organisasi,Ikut UKM,IPK,IPK2,Pekerjaan Orang Tua,Penghasilan,Tanggungan,Status Beasiswa
0,1,GALAN PRASETIO,D III Keperawatan | Reguler,L,Dekat,SMAN 1 GEDONG TATAAN,2020,21,Ikut,Ikut,"3,57",Sangat Baik,Wiraswasta,Sedang,4,NaN
1,2,FINGKY RANDIANSYAH,D III Keperawatan | Reguler,L,Dekat,SMK HAMPAR BAIDURI,2020,21,Tidak,Ikut,"2,95",Baik,Buruh,Sedang,2,NaN
2,3,ADELIA PANE,D III Keperawatan | Reguler,P,Dekat,SMK HAMPAR BAIDURI,2020,21,Tidak,Ikut,"3,67",Sangat Baik,Petani,Sedang,4,NaN
3,4,DWI HANDOKO,D III Keperawatan | Reguler,L,Dekat,SMA MA'ARIF NU BUMIRESTU,2020,21,Tidak,Ikut,"3,19",Baik,Wiraswasta,Tinggi,2,NaN
4,5,DESTRI FERAWANTI GUSTINI,D III Keperawatan | Reguler,P,Jauh,SMA 2 NEGERI AGUNG,2020,21,Tidak,Ikut,"3,19",Baik,Wiraswasta,Sedang,2,NaN

### Data Cleaning

In [5]:
df.isna().sum()

No                                      0
Nama Lengkap                            0
Prodi                                   0
Jenis Kelamin                           0
Jarak Tempat Tinggal kekampus (Km)      0
Asal Sekolah                            0
Tahun Lulus                             0
SKS                                     0
Ikut Organisasi                         0
Ikut UKM                                0
IPK                                     0
IPK2                                    0
Pekerjaan Orang Tua                     0
Penghasilan                             0
Tanggungan                              0
Status Beasiswa                       596
dtype: int64

In [6]:
df.shape

(596, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   No                                  596 non-null    int64
 1   Nama Lengkap                        596 non-null    object
 2   Prodi                               596 non-null    object
 3   Jenis Kelamin                       596 non-null    object
 4   Jarak Tempat Tinggal kekampus (Km)  596 non-null    object
 5   Asal Sekolah                        596 non-null    object
 6   Tahun Lulus                         596 non-null    int64
 7   SKS                                 596 non-null    int64
 8   Ikut Organisasi                     596 non-null    object
 9   Ikut UKM                            596 non-null    object
 10  IPK                                 596 non-null    object
 11  IPK2                                596 non-null    object
 12  Pekerjaan Orang Tua                 596 non-null    object
 13  Penghasilan                         596 non-null    object
 14  Tanggungan                          596 non-null    int64
 15  Status Beasiswa                     0 non-null      float64
dtypes: float64(1), int64(4), object(11)
memory usage: 74.6+ KB

In [8]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
591    False
592    False
593    False
594    False
595    False
Length: 596, dtype: bool

### Exploratory Data Analysis